// THIS FILE IS A GENERATED CODE. EDIT OK
// generated version: {{ .AppVersion }}
package {{ .PackageName }}

const (
{{- range $fi := .FieldInfos }}
{{- 	range $idx := $fi.Indexes }}
	{{ $idx.ConstName }}{{ $idx.Space1 }} = "{{ $idx.Label }}"{{ $idx.Space2 }} // {{ $idx.Comment }}
{{- 	end }}
{{- end }}
)
